body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  height : 100vh ;
  background-color: #EEEEEE;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.estiam-navbar { 
  background: linear-gradient(#000033, #6633cc)
}

.estiam-navbar a { 
  color : white;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5vw;
  transition-duration: 0.2s;
}

.estiam-navbar a:hover { 
  color : #9955ee;
}

.estiam-btn { 
  color : black;
  font-weight: bold;
  background-color: white;
  border : 2px solid #6633cc;
  margin-top: 5px;
}
.estiam-btn :hover, .estiam-btn :focus{ 
  color : white;
  font-weight: bold;
  background-color: #6633cc;
  border : 2px solid #6633cc;
}

.estiam-block {
  background-color: white;
  color : black ;
}

.estiam-container { 
  height : 94vh;
  position: relative;
  z-index: 2;
}
.estiam.img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.6;
<<<<<<< HEAD
}
=======
}
.obligatoire {
  color: red;
}
.txtarea {
  height: 150px;
  width: 100%;
}
#contact-form {
  margin: 22vw;
  width: 100%;
}
#admin-form {
  margin: auto auto;
  width: 100%;
}
>>>>>>> 73c0d17 (modif)
